%section.ten-oh-announcement
  .ten-oh-label
    %span 12.9
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 12.9 introduces Vault App, Code Quality Reports, Group Deploy Tokens, and much more!

      .btn-group
        = link_to "/releases/2020/03/22/gitlab-12-9-released/", class: "btn cta-btn btn-white margin-top20 hero-cta hero-release-link" do
          See what’s new
