---
layout: default
title: Join GitLab
twitter_image: '/images/tweets/teamgitlab.jpg'
suppress_header: true
manual_cookiebot: true
extra_css:
  - jobs.css
---

.container.listing-container
  .content.tile{id: 'opportunities'}
    :markdown
      ## Careers at GitLab

      Interested in joining our [all-remote team](https://about.gitlab.com/company/culture/all-remote/)? GitLab is a very unique place to work, and we’re taking an equally unique approach to growing [our team](https://about.gitlab.com/company/team/org-chart/). Learn more about our talent acquisition  model and what it’s like to work here on our [Jobs FAQ page](https://about.gitlab.com/jobs/faq/).

      Here’s a list of the active roles we’re sourcing for now (the number behind the title listed below is for internal reference only). To be considered for a career opportunity at GitLab, please join our [Talent Community](https://boards.greenhouse.io/gitlab/jobs/4700367002). If you are a current team member, please reference [this page](https://about.gitlab.com/handbook/hiring/interviewing/#internal-applicants) for additional information and a link to the internal job board.

      Thank you for your interest in joining our team!

      - Director of Legal, Employment (1061)
      - Director of Legal, Commercial (1174)
      - Director of Legal, Corporate (1063)
      - International Tax Manager (719)
      - Integrations Engineer (1252)
      - Financial Analyst - Sales (1184)
      - Research Sr Mgr/Director (1223)
      - Backend Engineer, Secure C# (665-12)
      - Senior Manager, Digital Experience (1229)
      - VP of Demand Generation (1103)
      - Senior Channel Marketing Manager (1265)
      - Field Marketing Manager, Public Sector (1185)
      - Revenue Accountant (1224)
      - Senior Director, Enterprise Applications (1241)
      - Sales Development Representative, APAC, Japanese speaking (1208)
      - Sales Development Solutions Architect (1216)
      - Support Engineer (Americas Central) (929)
      - Support Engineer (Americas East) (336)
      - Support Engineer (Americas West) (738)
      - Support Engineer (APAC) (737)
      - Support Engineering Manager (Americas) (1111)
      - Support Engineer (EMEA) (736)
      - Support Engineering Manager (EMEA) (1202)
      - Security Engineer, Security Operations (842)

    %div.u-flex.justify-center
      = link_to "https://boards.greenhouse.io/gitlab/jobs/4700367002?gh_src=d865c64f2us", class: "btn cta-btn accent" do
        Join Our Talent Community
