<div class="panel panel-default nl panel-newsletter-signup">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 col-follow-us">
      <span>Follow us:</span>
      <a href="https://twitter.com/gitlab" class="social-link twitter-link" target="_blank" data-toggle="tooltip" title="GitLab on Twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/company/gitlab-com" class="social-link linkedin-link" target="_blank" data-toggle="tooltip" title="GitLab on LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://www.facebook.com/gitlab" class="social-link facebook-link" target="_blank" data-toggle="tooltip" title="GitLab on Facebook">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="/atom.xml" class="social-link" data-toggle="tooltip" title="RSS Feed">
        <i class="fas fa-rss"></i>
      </a>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 newsletter">

      <div class="newsletter-form">

        <span class="newsletter-preamble">
          Sign up for GitLab’s twice-monthly newsletter to explore upcoming webcasts, how-to blogs, and stay up-to-date on exciting new features released every month:
        </span>

        <script src="//page.gitlab.com/js/forms2/js/forms2.min.js"></script>
        <form id="mktoForm_1077"></form>
        <script>


          MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1077, function(form) {
            form.onSuccess(function(values, followUpUrl) {

              dataLayer.push(
              {
                'event' : 'mktoLead', 
                'mktoFormId' : form.getId(),
                'eventCallback' : function()
                {
                  form.getFormElem().hide();
                  document.getElementById('confirmform').style.display = 'block';
                }, 'eventTimeout' : 3000
              });
              return false;
            });
            function getgacid() {
              try {
                var tracker = ga.getAll()[0];
                return tracker.get('clientId');
              } catch (e) {
                return 'n/a';
              }
            }
            form.vals({
              'gacid': getgacid()
            });
          });
        </script>
         <div id="confirmform" class="confirm-message" style="display:none;"><p>Thanks for subscribing!</p></div>
      </div>
    </div>
  </div>
</div>
