%svg{style: "overflow: visible", viewbox: "0 0 299 98", xmlns: "http://www.w3.org/2000/svg"}
  %g{fill: "none", "fill-rule": "evenodd"}
    %text{fill: "#fff", "font-family": "SourceSansPro-Black, Source Sans Pro", "font-size": "20", "font-weight": "700", "letter-spacing": "2", transform: "translate(100)"}
      %tspan{"text-anchor": "middle", x: "0", y: "84"}= "#{caption}"
    %path.play-icon-outline{d: "M67.9998 45.9203c7.489 6.1113 18.9373 10.0195 31.7703 10.0195 12.8337 0 24.2825-3.9082 31.771-10.0195V12.02C124.0525 5.9088 112.6037 2 99.77 2c-12.833 0-24.2813 3.9088-31.7703 10.02v33.9003zm42.7768-15.1743l-16.5072 9.5765c-1.21.7026-2.733-.1614-2.733-1.5513V19.6177c0-1.3886 1.523-2.2532 2.733-1.5512l16.5072 9.5764c1.1977.6946 1.1977 2.4085 0 3.1031z", fill: "#ffffff", stroke: "#251B3F", "stroke-linecap": "round", "stroke-linejoin": "round", "stroke-width": "3"}
